@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$very-dark-blue: hsl(233, 47%, 7%); /* main backgroud */
$dark-desaturated-blue: hsl(244, 38%, 16%); /* card background */
$soft-violet: rgba(170, 92, 219, 0.4); /* accent */
$white: hsl(0, 0%, 100%); /* main heading , stats */
$slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75); /* main paragraph*/
$slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6); /* stat headings */

* {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  color: $white;
  font-family: Lexend Deca;
  background-color: $very-dark-blue;
}

.container {
  width: 60vw;
  margin: 0 auto;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $dark-desaturated-blue;
  border-radius: 0.5rem;
}
.desc {
  margin-top: 5rem;
  .desc_heading {
    font-size: 5rem;
    font-weight: bold;
    margin-left: 3rem;
  }
  .highlight {
    color: $soft-violet;
  }
  .desc_p {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-left: 3rem;

    color: $slightly-transparent-white-1;
    padding: 1.5rem 0rem;
  }

  .stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .stat_number {
    font-size: 1.5rem;
  }
  .stat_label {
    font-size: 0.9rem;
    text-transform: capitalize;
  }
}

.img {
  background: $soft-violet;
  filter: contrast(120%);
  opacity: 1;

  img {
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
    opacity: 0.4;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@media only screen and (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .img {
    order: -1;
    border-radius: 10px 10px 0px 0px;
  }
  .stats {
    text-align: center;
    flex-direction: column;
  }
  .stat {
    padding: 0.4rem 0rem;
  }
  .desc {
    margin-top: 3rem;
    .desc_heading {
      margin-left: 1rem;
    }
    .desc_p {
      margin-left: 1rem;
    }
  }
}
